*{
  font-family: Arial, sans-serif;
}

:focus { outline: none !important; }
:focus::-webkit-input-placeholder { color: transparent }
:focus::-moz-placeholder { color: transparent }
:focus:-moz-placeholder { color: transparent }
:focus:-ms-input-placeholder { color: transparent }

body{
  background-color: #35383f;
	padding: 0;
	margin:0;
}

.app {
  display: flex;
  flex-direction: column;
}

.kanban-board {
  padding: 100px 0 50px 50px;
  width: 1305px;
}

.row {
  background-color: #2b2d33;
  width: 272px;
  padding-bottom: 46px;
  display:inline-block;
  vertical-align: top;
  position: relative;
}

.row:not(:last-child) {
    margin-right: 50px;
}

.header {
  color: white;
  text-shadow: 0 0 4px #4b5263;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 200;
  margin: 0;
  padding: 10px;
}

.orange {
  background-color: #fb7e46;
}

.blue {
  background-color: #2a92bf;
}

.yellow {
  background-color: #f4ce46;
}

.green {
  background-color: #00b961;
}

.draggable-item {
  background-color: #191a1d;
  margin: 10px 10px 0;
  padding: 10px;
  cursor: move;
  color: #aaaaaa;
  position: relative;
}

.draggable-item p {
  font-size: 14px;
}

.draggable-item .id {
  color: white;
}

.delete {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  opacity: 0.5;  
}

.delete:before,
.delete:after {
  background-color: white;
  position: absolute;
  top: 7px;
  right: 2px;
  content: "";
  display: block;
  width: 11px;
  height: 1px;
}

.delete:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delete:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.delete:hover {
  opacity: 1;
}

.card-title-textarea {
  resize: none;
  width: 230px;
  border: none;
  margin: 10px;
  padding: 10px;
  color: #cfcfcf;
  background-color: #4f4f4f;
  border: 1px solid #4f4f4f;
}

.card-title-textarea::-webkit-input-placeholder {
color: #9f9f9f;
}

.card-title-textarea:-moz-placeholder {
color: #9f9f9f;  
}

.card-title-textarea::-moz-placeholder {
color: #9f9f9f;  
}

.card-title-textarea:-ms-input-placeholder {
color: #9f9f9f;  
}

.add-a-card {
  position: absolute;
  bottom: 15px;
  left: 10px;
  padding: 5px;
  width: 170px;
  font-size: 14px;
  color: #cfcfcf;
  background-color: #616161;
  border: 1px solid #616161;
  cursor: pointer;
}

.add-a-card:hover {
  color: #cdcdcd;
  background-color: #504f4f;
  border: 1px solid #504f4f;
}

.add-a-card:active{
  color: #cacaca;
  background-color: #454545;
  border: 1px solid #454545;
}

.cancel {
  position: relative;
  position: absolute;
  bottom: 15px;
  left: 190px;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  opacity: 0.5;
}

.cancel:before,
.cancel:after {
  background-color: white;
  position: absolute;
  top: 13px;
  left: 5px;
  content: "";
  display: block;
  width: 18px;
  height: 2px;
}

.cancel:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cancel:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cancel:hover {
  opacity: 1;
}

.add-another-card {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 10px 36px;
  position: absolute;
  bottom: 0;
  text-align: left;
  color: #757577;
  font-size: 14px;
  cursor: pointer;
}

.add-another-card:before,
.add-another-card:after {
  background-color: #757577;
  position: absolute;
  bottom: 16px;
  left: 10px;
  content: "";
  display: block;
  width: 14px;
  height: 2px;
}

.add-another-card:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.add-another-card:hover {
  color: #878792;
  background-color: #222328;
}

.page_header {
  height: 20%;
  font-size: 40px;
  color: #62eeab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px;
  font-weight: 700;
}

.projects_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  margin-left: 30px;
  margin-right: 30px;
  grid-row-gap: 40px;
}

.project {
  border: 3px solid rgb(170, 170, 170);
  border-radius: 20px;
  height: 100px;
  overflow: auto;
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
  color: rgb(170, 170, 170);
}
.project:hover {
  border: 3px solid rgb(132, 123, 214);
  color: rgb(132, 123, 214);
}
html, .app, body, .projects {
  height: 100%;
}

.project_add {
  font-size: 30px;
}
.projects_create h1 {
  color: #cdcdcd;
  font-size: 20px;
  margin: 40px 10px 40px 10px;
}
.projects_create .add-a-card {
  position: inherit;
  margin-top: 40px;
}

.back-btn {
  position: absolute;
  top: 30px;
  background-color: transparent;
  border: 1px solid #eeeeee;
  padding: 10px 36px;
  text-align: left;
  color: #757577;
  font-size: 14px;
  cursor: pointer;
}

.back-btn:hover {
  color: #878792;
  background-color: #222328;
}

.auth {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  border: 1px solid #62eeab;
  border-radius: 30px;
  justify-content: center;
}

.auth h3 {
  color: #62eeab;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  width: 300px;
  font-size: 30px;
}

.auth form {
  display: flex;
  flex-direction: column;
}

input {
  resize: none;
  border: none;
  margin: 10px 0;
  width: 278px;
  padding: 10px;
  color: #cfcfcf;
  background-color: #4f4f4f;
  border: 1px solid #4f4f4f;
}

.login-button, .register-button {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: rgb(170, 170, 170);
  background: #4b5263;
  width: 45%;
  border: none;
  margin-right: 10%;
}
.register-button {
  margin-right: 0;
  background: #504f4f;
}

.login-button:hover, .register-button:hover {
    color: white;
}

button[type=submit] {
  background: transparent;
  color: inherit;
  border: none;
}

.form-actions {
  display: flex;
  align-items: center;
  width: 300px;
  margin-top: 30px;
}

.error {
  color: red;
  margin-top: 20px;
  max-width: 300px;
}
.logout-btn {
  position: initial;
  margin-left: 30px;
}
.userinfo {
  position: absolute;
  right: 40px;
  top: 30px;
  display: flex;
  align-items: center;
  color: white;
}

.formulate-input-errors {
  color: red;
}